<section class="welcome">
    <h1>Welcome to CSE Motors</h1>
    <div class="delo-card">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice</li>
        </ul>
        <img src="images/site/own_today.png" alt="Own Today">
    </div>
</section>
<div class="section_wrapper">
    <section class="reviews">
        <h4>DMC Delorean Reviews</h4>
        <ul>
            <li>"Great Car. I would recommend many times over" 5/5</li>
            <li>"I had a problem with the transmission. Otherwise all is well." 4/5</li>
            <li>"Solid Car" 4.5/5</li>
            <li>"I feel connected to the car. It has sentimental meaning to me." 5/5</li>
            <li>"CSE Motors, this one is for the books" 4.5/5</li>
            <li>"Keep up the good work." 4/5</li>
        </ul>
    </section>
    <section class="upgrades">
        <h4>Delorean Upgrades</h4>
        <ul>
            <li><img src="images/upgrades/flame.jpg" alt="Flame Decals"><br><a href="#">Flame Decals</a></li>
            <li><img src="images/upgrades/flux-cap.png" alt="Flux Cap"><br><a href="#">Flux Capacitor</a></li>
            <li><img src="images/upgrades/hub-cap.jpg" alt="Hub Caps"><br><a href="#">Hub Caps</a></li>
            <li><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker"><br><a href="#">Bumper Sticker</a></li>
        </ul>
    </section>
</div>