<h2>Classification Input Form</h2>

<form action="/inv/addclassification" method="POST">
    <div class="form-group">
        <label for="make">Classification</label>
        <input type="text" id="classification_name" name="classification_name" required placeholder="Enter Classification">
    </div>

    <button type="Submit">Add Classification</button>
</form>