<h2>Vehicle Inventory Form</h2>
<form action="/inv/addinventory" method="POST" class="inventory-form">
    <div class="form-group">
        <label for="inv_make">Make</label>
        <input type="text" id="inv_make" name="inv_make" required placeholder="Enter vehicle make" class="form-input" pattern="^[A-Za-z0-9]+$" 
               minlength="3" 
               title="Make should have at least 3 characters and no spaces." >
    </div>

    <div class="form-group">
        <label for="inv_model">Model</label>
        <input type="text" id="inv_model" name="inv_model" required placeholder="Enter vehicle model"
            class="form-input">
    </div>

    <div class="form-group">
        <label for="inv_year">Year</label>
        <input type="number" id="inv_year" name="inv_year" required placeholder="Enter vehicle year" min="1900"
            max="2099" class="form-input">
    </div>

    <div class="form-group">
        <label for="inv_desciption">Description</label>
        <textarea id="inv_desciption" name="inv_desciption" required placeholder="Enter vehicle description"
            class="form-input"></textarea>
    </div>

    <div class="form-group">
        <label for="inv_price">Price ($)</label>
        <input type="number" id="inv_price" name="inv_price" required placeholder="Enter vehicle price" min="1000"
            step="0.01" class="form-input">
    </div>

    <div class="form-group">
        <label for="inv_miles">Miles</label>
        <input type="number" id="inv_miles" name="inv_miles" required placeholder="Enter vehicle miles" min="0"
            class="form-input">
    </div>

    <div class="form-group">
        <label for="inv_color">Color</label>
        <input type="text" id="inv_color" name="inv_color" required class="form-input" pattern="^[A-Za-z0-9]+$" 
               minlength="3" 
               title="Classification should have at least 3 characters and no spaces." >
    </div>

    <div class="form-group">
        <label for="classification">Classification</label>
        <%- select %>
    </div>

    <button type="submit" class="submit-btn">Add Vehicle</button>
</form>